.layout {
  padding: 100px 50px 20px 350px; /* 상단, 우측, 하단, 좌측 여백을 설정하여 겹침 방지 */
  position: relative; 
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  margin-bottom: 30px;
}

.button-type, .button-sort, .game-button, .sort-order-button {
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: #fff;
  color: #333;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.button-type:hover, .button-sort:hover, .game-button:hover, .sort-order-button:hover {
  background-color: #e2e2e2;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  padding-bottom: 10px;
}

.item {
  border: solid #ddd 1px;
  border-radius: 12px;
  background-color: #fff;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s, box-shadow 0.3s;
}

.item:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

.item div {
  margin-bottom: 10px;
  margin-left: 10px;
  font-weight: bold;
  color: #555;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 최대 줄 수 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal; /* 줄바꿈 허용 */
}


.item img {
  width: 100%;
  border-radius: 8px;
  transition: transform 0.3s, opacity 0.3s;
}

.item img:hover {
  transform: scale(1.05);
  opacity: 0.85;
}

.game-button.blinking {
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.context-menu {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 150px;
  border-radius: 8px;
  overflow: hidden;
  animation: fadeIn 0.3s forwards;
}

.context-menu-item {
  padding: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.context-menu-item:hover {
  background-color: #f4f4f4;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.sort-dropdown {
  position: relative;
  display: inline-block;
}

.sort-order-button {
  margin-right: 10px;
}

.sort-options {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1;
  border-radius: 8px;
  overflow: hidden;
}

.sort-options.show {
  display: block;
}

.sort-options div {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sort-options div:hover {
  background-color: #f4f4f4;
}
