.header-navbar {
  position: fixed;
  width: calc(100% - 250px); /* 레프트바를 제외한 나머지 영역 */
  left: 250px; /* 레프트바 너비 */
  z-index: 999; /* 레프트바보다 위에 표시 */
  background-color:  #2c3e50 !important;  /* 다크 모드 배경 */
  border-bottom: 1px solid #34495e;
  padding-left: 70px; /* 왼쪽 여백 추가 */
  padding-top: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.search-form {
  width: 40%; /* 서치바 너비 조정 */
  position: relative; /* search-results 위치를 위해 relative 추가 */
}

.search-bar {
  width: 100%;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #34495e;
  background-color: #34495e;
  color: #ecf0f1; /* 텍스트 색상 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-bar::placeholder {
  color: #bdc3c7; /* 플레이스홀더 색상 */
}

.search-results {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #34495e;
  border: 1px solid #444;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  max-height: 200px; /* 최대 높이 설정 */
  overflow-y: auto; /* 스크롤 가능하도록 설정 */
  z-index: 1000;
}

.search-result-item {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  color: #ecf0f1; /* 텍스트 색상 */
}

.search-result-item:hover {
  background-color: #1abc9c; /* 호버 시 배경색 */
  color: #fff; /* 호버 시 텍스트 색상 */
}
