.leftbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px; /* Leftbar 너비 조정 */
  background-color: #ffffff;
  color: #333;
  padding: 20px;
  overflow-y: auto;
  z-index: 1000;
  border-right: 1px solid #e0e0e0;
  padding-top: 56px; /* 헤더 높이만큼 아래로 이동 */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
}

.logo-container {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.logo {
  width: 50px; /* 로고 크기 조정 */
  height: auto;
  margin-right: 10px;
}

.leftbar h2 {
  color: #333;
  font-family: "Lobster", cursive;
  margin: 0;
  font-size: 30px;
}

.user-info {
  margin-bottom: 20px;
  color: #333;
  font-family: 'Arial', sans-serif;
  text-align: center; /* 가운데 정렬 */
}

.user-info div {
  margin-bottom: 10px;
}

.follow-info {
  display: flex;
  justify-content: center; /* 가운데 정렬 */
  gap: 10px; /* 버튼 사이 간격 */
}

.leftbar .list-group-item {
  background-color: #ffffff;
  color: #333;
  border: 1px solid #e0e0e0;
  transition: background-color 0.3s, color 0.3s;
  font-family: "Arial", sans-serif;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px 15px; /* 내부 여백 추가 */
}

.leftbar .list-group-item:hover,
.leftbar .list-group-item.active {
  background-color: #ff6f61;
  color: #fff;
  border-color: #ff6f61;
}

.leftbar .progress {
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 10px;
  margin-bottom: 20px;
}

.leftbar .progress-bar {
  background-color: #ff6f61;
  border-radius: 10px;
}
